@model OdeToFood_DotNetCore.Entities.Restaurant

@{
    ViewBag.Title = @Model.Name;
}

<h1>@Model.Name</h1>
<div>Id: @Model.Id</div>
<div>Cousine: @Model.Cuisine</div>
<div>
    @Html.ActionLink("Home", "Index")
</div>
